<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goprojectstudio.aksihapuskorupsi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".AkunActivity" />
        <activity android:name=".DonasiActivity" />
        <activity android:name=".BantuanActivity" />
        <activity android:name=".AgendaActivity" />
        <activity android:name=".AspirasiActivity" />
        <activity android:name=".LhkpnActivity" />
        <activity android:name=".MonitoringActivity" />
        <activity android:name=".EmeetingActivity" />
        <activity android:name=".InfoPublikActivity" />
        <activity android:name=".PanduanActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>